<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Timetrack"
        tools:targetApi="31">
        <activity
            android:name=".admin.EditUser"
            android:exported="false"
            android:parentActivityName=".admin.menu.MainActivity"/>
        <activity
            android:name=".client.EditCliente"
            android:exported="false"
            android:parentActivityName=".client.menu.MainActivity" />
        <activity
            android:name=".client.DeleteCliente"
            android:exported="false"
            android:parentActivityName=".client.menu.MainActivity" />
        <activity
            android:name=".admin.menu.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Timetrack.NoActionBar" />
        <activity
            android:name=".client.menu.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Timetrack.NoActionBar" />
        <activity
            android:name=".auth.CreateClientActivity"
            android:exported="false"
            android:parentActivityName=".auth.AuthClientActivity" />
        <activity
            android:name=".auth.AuthClientActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>